<p>A simple agent for monitoring internal counters from the Hotspot JVM.</p>
<h2 id="building">Building</h2>
<p>Hotspotmon uses Gradle for build. To build this project on your machine simply<br />
run:</p>
<pre><code>./gradlew bootRepackage</code></pre>
<p>This will build the Hotspotmon JAR and place it in <code>build/libs</code>.</p>
<p>To run the tests:</p>
<pre><code>./gradlew build</code></pre>
<p>For the full test suite, you'll need to have InfluxDB running on the localhost,<br />
with the HTTP endpoint running on port <code>8086</code>. By default, the test use<br />
<code>root/root</code> as the credentials to connect to InfluxDB, and will connect to a<br />
database called <code>hotspotmon</code>.</p>
<h2 id="running">Running</h2>
<p>Hotspotmon is packaged as an executable JAR file. To run it:</p>
<pre><code>java -jar &lt;path_to_hotspotmon_jar&gt;</code></pre>
<p>By default, the web frontend runs on port <code>8900</code>, and the InfluxDB<br />
settings are the same as those used for testing.</p>
<h3 id="configuring">Configuring</h3>
<p>Hotspotmon uses standard Spring Boot-style configuration. For the full<br />
list of configuration options see the source code. A summary of the most<br />
useful options is given here.</p>
<h4 id="changing-the-http-port">Changing the HTTP Port</h4>
<p>To change the HTTP port, start the application with <code>--server.port</code>:</p>
<pre><code>java -jar hotspotmon.jar --server.port=8080</code></pre>
<h4 id="configuring-the-influxdb-connection">Configuring the InfluxDB Connection</h4>
<p>The following command-line flags are provided to control the InfluxDB<br />
connection behaviour:</p>
<table>
<colgroup>
<col width="20%" />
<col width="60%" />
<col width="19%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">Flag</th>
<th align="left">Purpose</th>
<th align="left">Default</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><code>influxdb.url</code></td>
<td align="left">The HTTP url of the InfluxDB server</td>
<td align="left"><a href="http://localhost:8086" class="uri">http://localhost:8086</a></td>
</tr>
<tr class="even">
<td align="left"><code>influxdb.user</code></td>
<td align="left">The username used to connect to InfluxDB</td>
<td align="left"><code>root</code></td>
</tr>
<tr class="odd">
<td align="left"><code>influxdb.password</code></td>
<td align="left">The password used to connect to InfluxDB</td>
<td align="left"><code>root</code></td>
</tr>
<tr class="even">
<td align="left"><code>influxdb.database</code></td>
<td align="left">The InfluxDB database where sample data is to be stored</td>
<td align="left"><code>hotspotmon</code></td>
</tr>
<tr class="odd">
<td align="left"><code>influxdb.batchSize</code></td>
<td align="left">The maximum size of each batch of sample data</td>
<td align="left"><code>100</code></td>
</tr>
<tr class="even">
<td align="left"><code>influxdb.batchSeconds</code></td>
<td align="left">The cut-off in seconds to wait before sending a batch of sample data</td>
<td align="left"><code>1</code></td>
</tr>
</tbody>
</table>
<h2 id="monitoring-hotspot-jvms">Monitoring Hotspot JVMs</h2>
<p>To monitor a Hotspot VM using hotspotmon, it is enough to start that VM with system properties of the format<br />
<code>-Dcom.skipjaq.hotspotmon.&lt;metric_name&gt;=&lt;sample_period&gt;</code>. For example, to sample the <code>sun.ci.standardCompiles</code><br />
and <code>sun.ci.osrCompiles</code> metrics every five seconds:</p>
<pre><code> java -Dcom.skipjaq.hotspotmon.sun.ci.standardCompiles=5000 -Dcom.skipjaq.hotspotmon.sun.ci.osrCompiles=5000 -jar myapp.jar</code></pre>
